* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

noscript {
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-width: 1285px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    background: var(--background);
    font-family: 'Roboto', sans-serif;
    color: var(--dark-gray);
}

:root {
    --background: #F7F3F7;
    --venturus-red: #BE1A50;
    --venturus-purple: #88276D;
    --venturus-red-light: #A83D78;
    --venturus-purple-light: #7E377F;
    --title: #553086;
    --dark-gray: #2F2F2F;
    --light-gray: #E2E8E8;
    --white: #FFFFFF;
    --shadow-pink: #FFBEF4;
    --shadow-gray: #E8E2E8;
    --light-purple: #B087C5;
    --selected-line: #F7EEF6;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: var(--background);
    font-family: 'Roboto', sans-serif;
    color: var(--dark-gray);
}

@media (min-width: 0px) {
    .content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        margin: auto;
        margin-top: 15px;
        min-width: 620px;
        height: 1255px;
    }
}

@media (min-width: 1285px) {
    .content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        margin: auto;
        margin-top: 150px;
        width: 1285px;
        height: auto;
    }
}




.content>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 620px;
    height: 620px;

}