.application-title-bar {
    display: flex;
    height: 50px;
    width: 100vw;
    min-width: 620px;
    margin: 0 auto;
    padding: 5px 45px 5px 30px;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(90deg, var(--venturus-red) 0%, var(--venturus-purple) 100%);
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: var(--white);
}

.application-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.125rem;
    font-weight: 700;
}

.application-title img {
    object-fit: cover;
    object-position: 0% 0;
    width: 40px;
    height: 35px;
    margin-right: 5px;
}

.user-information {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-information span {
    margin-right: 5px;
    font-size: 0.875rem;
    font-weight: 700;
    color: var(--light-gray);
}

.user-information img {
    width: 32px;
    height: 32px;
    margin-left: 5px;
    border-radius: 50%;
}