.teams-list-title {
    display: flex;
    justify-content: initial;
    margin: 23px auto;
    line-height: 32px;
    font-size: 0.875rem;
    font-weight: 500;
}

.teams-list-title div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.teams-list-title>div:first-child {
    width: 125px;
    margin-left: 32px;
    padding-right: 15px;
    justify-content: space-between;
    border-right: 1px solid var(--light-gray);
}

.teams-list-title>div:last-child {
    width: 443px;
    margin-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
}

.teams-list-data {
    display: flex;
    flex-direction: column;
    justify-content: initial;
    margin: 0 auto;
    width: 605px;
    line-height: 50px;
    font-size: 0.875rem;
    font-weight: 500;
}

.teams-list-data div {
    display: flex;
    flex-direction: row;
    justify-content: left;

}

.teams-list-data>div {
    border-bottom: 1px solid var(--light-gray);
}

.teams-list-data>div:hover {
    background: var(--selected-line);
    color: var(--venturus-red-light);
    border-bottom: 1px solid var(--white);
    border-radius: 5px;
    cursor: default;
}

.team-list-icons {
    visibility: hidden;
}

.teams-list-data>div:hover .team-list-icons {
    visibility: visible;
}

.teams-list-data>div>p:first-child {
    width: 144px;
    margin-left: 25px;
}

.teams-list-data>div>div {
    height: 50px;
    line-height: 50px;
    width: 420px;
    justify-content: space-between;
}

.teams-list-data svg {
    height: 50px;
    margin-left: 5px;
    cursor: pointer;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 80px;
    line-height: 15px;
    background-color: var(--dark-gray);
    color: var(--light-gray);
    text-align: center;
    border-radius: 6px;
    padding: 3px 0;
    position: absolute;
    z-index: 1;
    bottom: 80%;
    margin-left: -30px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}